<app-menu-usuario></app-menu-usuario>

<div *ngIf="vagasUsuario" class="container main-container">
  <div class="container">
    <div class="painel">
      <div class="painel-topo">
        <h1>TOP 20 Vagas</h1>
      </div>

      <div class="row painel-corpo">
        <div class="row titulos">
          <div class="col-1 titulo-coluna-1"><span>Posição</span></div>
          <div class="col-4 titulo-coluna-1"><span>Vaga</span></div>
          <div class="col-4 titulo-coluna-2"><span>Descrição</span></div>
          <div class="col-2 titulo-coluna-2"><span>Ação</span></div>
        </div>
        
        <div *ngIf="vagasUsuario.length > 0" class="conteudo">
          <div class="row conteudo-interno" *ngFor="let vaga of vagasUsuario; let i = index">
            <div class="conteudo-coluna-0"><span>{{(i+1)}}º</span></div>
            <div class="col-4 conteudo-coluna-1"><span>Programador C#</span></div>
            <div class="col-4 conteudo-coluna-2"><span>Trabalhar home office</span></div>
            <div class="col-2 conteudo-coluna-3">
              <span class="botoes">
                <button class="btn btn-primary botao-visualizar" (click)="visualizarVaga(vaga.id)">Visualizar</button>              
              </span>
            </div>
          </div>           
                    
        </div>

        <div *ngIf="vagasUsuario.length < 0" class="row conteudo">
          <div class="col-6 sem-conteudo"><span>Não possui vagas cadastradas</span></div>          
        </div>

      </div>
    </div>    
  </div>
</div>

<app-rodape-usuario></app-rodape-usuario>