<app-menu-usuario></app-menu-usuario>

<div *ngIf="vagasUsuario" class="container main-container">
  <div class="container">
    <div class="painel">
      <div class="painel-topo">
        <h1>Areas +</h1>
      </div>

      <div class="row painel-corpo">
        <div class="row titulos">
          <div class="col-1 titulo-coluna-1"><span>Posição</span></div>
          <div class="col-9 titulo-coluna-1"><span>Area</span></div>          
        </div>

        <div *ngIf="vagasUsuario.length > 0" class="conteudo">
          <div class="row conteudo-interno" *ngFor="let vaga of vagasUsuario; let i = index">
            <div class="col-2 conteudo-coluna-0"><span>{{(i+1)}}º</span></div>
            <div class="col-8 conteudo-coluna-1"><span>{{vaga.area}}</span></div>            
          </div>  
        </div>

        <div *ngIf="vagasUsuario.length < 0" class="row conteudo">
          <div class="col-6 sem-conteudo"><span>Não possui vagas cadastradas</span></div>          
        </div>

      </div>
    </div>    
  </div>
</div>

<app-rodape-usuario></app-rodape-usuario>