body{
    background-color: rgb(172, 173, 255);
}

.botao-voltar{
    margin-left: 15px;
    width: 100px;
    background:#59429d;
    border: 1px;
    color:#ffffff;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);


}

.botao-salvar{
    background:#59429d;
    border: 1px;
    color:#ffffff;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5)

}

.paragrafo{
    margin-left: 15px;
    margin-left: -10px;
}

h4{
    font-size: 24px;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 500;
    margin-top: -40px;
    color:#321392;


}

.form-group{
    font-family: sans-serif;
    margin-left:-25px;
    color:#321392;
}

@media only screen and (max-width: 991px){
    .botao-voltar{
        margin-left: 166px;
        width: 100px;
        margin-top: -65px;
    }
    .paragrafo{
        margin-left: -25px;
    }
    .form-group{
        margin-left:-40px;
    }
}

@media only screen and (max-width: 767px){
        .botao-voltar{
            margin-left: 20px;
            width: 100px;
            margin-top: -3px;
        }
        .paragrafo{
            margin-left: -30px;
        }
        .form-group{
            margin-left:-40px;
        }
}

@media only screen and (max-width: 750px){
    .paragrafo{
        margin-left: -20px;
    }
    .form-group{
        margin-left:-30px;
    }

}

@media only screen and (max-width: 572px){
    .paragrafo{
        margin-left: -10px;
    }
    .form-group{
        margin-left:-20px;
    }

}

@media only screen and (max-width: 320px){
    .botao-voltar{
        margin-left: 166px;
        width: 100px;
        margin-top: -65px;
    }
    .paragrafo,.form-group{
        text-align: center;
    }

    .botao-salvar{
        margin-left: -125px;

    }

}
@media only screen and (max-width: 297px){
    .botao-voltar{
       align-items: center;

    }
    .botao-salvar{
     align-items: center;

    }
}

@media only screen and (max-width: 288px){
    .botao-voltar{
        margin-left: -150px; 
        margin-top: 60px;
    }
    .botao-salvar{
        width:150px;
        margin-top: -30px;

    }
} 