<app-menu-admin></app-menu-admin>
<div class="body">
<div class="container main-container">
  <div class="container">
    <div class="painel">
      <div class="painel-topo">
        <h1>Vagas</h1>
        <div class="linha-botao-cadastrar">
          <button class="btn btn-success botao-cadastrar" (click)="cadastrarVaga()">Cadastrar Vaga</button>
        </div>
      </div>

      <div *ngIf="vagasAdmin.length > 0" class="painel-corpo">
        <div *ngIf="vagasAdmin.length > 0" class="conteudo">
          <div class="row conteudo-interno" *ngFor="let vaga of vagasAdmin">
            <ul class="nome">
              <span>{{vaga.funcao}}</span>
              <li class="descricao">{{vaga.descricao}}</li>
              <button class="btn btn-warning botao-editar" (click)="editarVaga(vaga.id)">Editar</button>
              <button class="btn btn-danger botao-voltar" (click)="abrirExclusao(vaga.id)">Excluir</button>
            </ul>
          </div>
        </div>        

        <div *ngIf="vagasAdmin.length < 0" class="row conteudo">
          <div class="col-6 sem-conteudo"><span>Não possui vagas cadastradas</span></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL DETALHES -->

<!-- GRID DETALHES -->

<div bsModal ngDraggable [handle]="handler" [config]="{ignoreBackdropClick: true}" id="mdExcluir"
    #mdExcluir="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mdExcluir"
    aria-hidden="true">
    <div class="modal-dialog div-detalhes modal-lg modal-dialog-centered ">
        <div class="modal-content div-detalhes">
            <div #handler class="modal-header">
                <button type="button" class="close" (click)="mdExcluir.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="wrapper-flexbox">
                    <h4 class="mr-30"></h4>
                    <h4></h4>
                </div>
            </div>
            <form>
                <div class="modal-body alinhamento" id="area-modalDetalhes">

                    <!--Inicio Parte Superior Modal-->
                    <!--Fim Parte Superior Modal-->                    

                    <!--Inicio Movimentos-->
                    <div *ngIf="vagaAdmin" class="painel-modal">      
      
                      <div class="detalhes-vaga-modal">
                        <div class="nome-vaga-modal"><span>{{vagaAdmin.funcao}}</span></div>
                        <div class="descricao-modal">
                          <p>Área de atuação: {{vagaAdmin.area}}</p>
                          <p>Requisitos: {{vagaAdmin.descricao}}</p>
                          <p>Salário: {{vagaAdmin.salario | currency:'BRL':true:'1.2-2'}}</p>
                          <p>Benefícios: {{vagaAdmin.beneficios}}</p>
                          <p>Quantidade de Vagas: {{vagaAdmin.quantidade}}</p>
                        </div>          
                      </div>
                    
                    </div>                   
                    <!--Fim Movimentos-->                    

                    <!--Inicio Parte Inferior Modal-->                    
                    <!--Fim Parte Inferior Modal-->

                </div>

                <div class="modal-footer alinhar-botoes">
                    <button class="btn btn-danger botao-excluir" (click)="excluirVaga(vagaAdmin.id)">Excluir</button>
                    <button type="button" class="btn btn-default" (click)="mdExcluir.hide();">
                        FECHAR
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<app-rodape-admin></app-rodape-admin>