<app-menu-usuario></app-menu-usuario>

<div class="container main-container">
  <div class="container">
    <h4 class="paragrafo">Cadastro</h4>
    <hr class="paragrafo"/>
    <form novalidate (ngSubmit)="atualizarDadosUsuario()" [formGroup]="cadastroForm">
      <div class="form-horizontal">

        <div class="form-group">
          <label class="col-md-3 col-sm-5 control-label" for="nome">Nome</label>
          <div class="col-md-10">
            <input class="form-control" id="nome" type="text" placeholder="Nome (requerido)" formControlName="nome" 
            [ngClass]="{'is-invalid': displayMessage.nome}"/>
            <span class="text-danger" *ngIf="displayMessage.nome">
              <p [innerHTML]="displayMessage.nome"></p>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 col-sm-5 control-label" for="email">E-mail</label>
          <div class="col-md-10">
            <input readonly class="form-control" id="email" type="text" placeholder="E-mail (requerido)" formControlName="email" 
            [ngClass]="{'is-invalid': displayMessage.email }"/>
            <span class="text-danger" *ngIf="displayMessage.email">
              <p [innerHTML]="displayMessage.email"></p>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 col-sm-5 control-label" for="dataNascimento">Data de Nascimento</label>
          <div class="col-md-10">
            <input class="form-control" id="dataNascimento" type="text" placeholder="Data de Nascimento (requerido)" formControlName="dataNascimento" 
            [ngClass]="{'is-invalid': displayMessage.dataNascimento}" date/>
            <span class="text-danger" *ngIf="displayMessage.dataNascimento">
              <p [innerHTML]="displayMessage.dataNascimento"></p>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 col-sm-5 control-label" for="profissao">Profissão</label>
          <div class="col-md-10">
            <input class="form-control" id="profissao" type="text" placeholder="Profissao (requerido)" formControlName="profissao" 
            [ngClass]="{'is-invalid': displayMessage.profissao}"/>
            <span class="text-danger" *ngIf="displayMessage.profissao">
              <p [innerHTML]="displayMessage.profissao"></p>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-5 col-sm-6 control-label" for="experiencia">Experiância Profissional</label>
          <div class="col-md-10">
            <textarea class="form-control" id="experiencia" type="text" placeholder="Experiência Profissional" 
            formControlName="experiencia" rows="7"></textarea>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 col-sm-5 control-label" for="cursos">Cursos</label>
          <div class="col-md-10">
            <textarea class="form-control" id="cursos" type="text" 
            placeholder="Cursos" formControlName="cursos" rows="7"></textarea>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-4 col-md-offset-2">
            <span>
              <button class="btn btn-primary" id="Registrar" [disabled]="!cadastroForm.valid" type="submit">Salvar Alterações</button>
              <button class="btn btn-danger botao-voltar" (click)="voltarDashboard()">Voltar</button>
            </span>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<app-rodape-usuario></app-rodape-usuario>